@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&display=swap')

\:root
  --color1: #4175DF
  --color2: #1D1E20
  --color3: #788092
  --color4: #A4A7B1
  --color5: #D9DBDF
  --color6: #F6F6F5
  --color7: #FFF

@font-face
  font-family: 'ABCDiatypeRounded'
  src: url('/fonts/ABCDiatypeRounded-Bold-Trial.otf') format('opentype')
  font-weight: 700
  font-style: normal


@font-face
  font-family: 'ABCDiatypeRounded'
  src: url('/fonts/ABCDiatypeRounded-Light-Trial.otf') format('opentype')
  font-weight: 300
  font-style: normal


@font-face
  font-family: 'ABCDiatypeRounded'
  src: url('/fonts/ABCDiatypeRounded-Medium-Trial.otf') format('opentype')
  font-weight: 500
  font-style: normal


@font-face
  font-family: 'ABCDiatypeRounded'
  src: url('/fonts/ABCDiatypeRounded-Regular-Trial.otf') format('opentype')
  font-weight: 400
  font-style: normal


@font-face
  font-family: 'ABCDiatypeRounded'
  src: url('/fonts/ABCDiatypeRounded-Thin-Trial.otf') format('opentype')
  font-weight: 100
  font-style: normal


@font-face
  font-family: 'ABCDiatypeRounded'
  src: url('/fonts/ABCDiatypeRounded-Ultra-Trial.otf') format('opentype')
  font-weight: 800
  font-style: normal

html
  overflow: auto
  font-family: "ABCDiatypeRounded", sans-serif!important

.clickable
  cursor: pointer