\:root
  --color1: #4175DF
  --color2: #1D1E20
  --color3: #788092
  --color4: #A4A7B1
  --color5: #D9DBDF
  --color6: #F6F6F5
  --color7: #FFF
  --color8: #F6F8FE
  --color9: #E71D1D
  --color10: #ECF1FC
  --color11: #000
  --ghost-color: #ECF1FC

$xl: 2560px
$lg: 1902px
$md: 1280px
$sm: 960px
$xs: 600px

@font-face
  font-family: 'ABCDiatypeRounded'
  src: url('/fonts/ABCDiatypeRounded-Bold-Trial.otf') format('opentype')
  font-weight: 700
  font-style: normal


@font-face
  font-family: 'ABCDiatypeRounded'
  src: url('/fonts/ABCDiatypeRounded-Light-Trial.otf') format('opentype')
  font-weight: 300
  font-style: normal


@font-face
  font-family: 'ABCDiatypeRounded'
  src: url('/fonts/ABCDiatypeRounded-Medium-Trial.otf') format('opentype')
  font-weight: 500
  font-style: normal


@font-face
  font-family: 'ABCDiatypeRounded'
  src: url('/fonts/ABCDiatypeRounded-Regular-Trial.otf') format('opentype')
  font-weight: 400
  font-style: normal


@font-face
  font-family: 'ABCDiatypeRounded'
  src: url('/fonts/ABCDiatypeRounded-Thin-Trial.otf') format('opentype')
  font-weight: 100
  font-style: normal


@font-face
  font-family: 'ABCDiatypeRounded'
  src: url('/fonts/ABCDiatypeRounded-Ultra-Trial.otf') format('opentype')
  font-weight: 800
  font-style: normal

@font-face
  font-family: 'IBM Plex Sans'
  src: url('/fonts/IBMPlexSans-Bold.ttf') format('opentype')
  font-weight: 700
  font-style: normal

@font-face
  font-family: 'IBM Plex Sans'
  src: url('/fonts/IBMPlexSans-Medium.ttf') format('opentype')
  font-weight: 500
  font-style: normal

@font-face
  font-family: 'IBM Plex Sans'
  src: url('/fonts/IBMPlexSans-Regular.ttf') format('opentype')
  font-weight: 400
  font-style: normal
@font-face
  font-family: 'IBM Plex Sans'
  src: url('/fonts/IBMPlexSans-Thin.ttf') format('opentype')
  font-weight: 100
  font-style: normal
@font-face
  font-family: 'IBM Plex Sans'
  src: url('/fonts/IBMPlexSans-SemiBold.ttf') format('opentype')
  font-weight: 600
  font-style: normal
@font-face
  font-family: 'IBM Plex Sans'
  src: url('/fonts/IBMPlexSans-ExtraLight.ttf') format('opentype')
  font-weight: 200
  font-style: normal

html
  overflow: auto
  font-family: "ABCDiatypeRounded", sans-serif!important

.clickable
  cursor: pointer


.v-btn
  font-size: 19px
  font-style: normal
  font-weight: 500
  line-height: normal
  letter-spacing: 0.28px
  text-transform: none

.v-row
  margin: -16px



  #button2
    background-color: var(--color1)!important
    margin-top: 20px
    font-size: 16px
    font-style: normal
    font-weight: 400
    line-height: normal
    letter-spacing: 0.32px
    text-transform: none



.v-btn--disabled
  background-color: var(--color4) !important
  color: var(--color3)

.centered
  display: flex
  align-items: center
  justify-content: center
  flex-direction: column

.router-link-exact-active
  color: var(--color1)!important

a:visited
  color: var(--color1)

#actions
  .actionBtn
    border: 1px solid var(--color4)
    color: var(--color4)
    font-size: 13px
    letter-spacing: .26px

    &.v-btn--disabled
      color: var(--color5)
      background-color: var(--color7)!important

    :deep(.v-btn__overlay)
      opacity: 0!important

.v-label
  opacity: 1!important



// this is the checkbox in the palettes filters.
// It is a material design icon and the thickness can't be modifed.
// note: entire panel is in components/Filter.vue
.v-application
  .v-selection-control
    .mdi-checkbox-blank-outline.v-icon
      color: var(--color4)


// this is the divider line btwn the filters
.v-application
  .v-divider.v-theme--light
    color: var(--color6)
    opacity: 1
    margin-right: 7px


// this controls the text in the style filter in palettes
.v-application
  .v-selection-control
    .v-label.v-label--clickable
      font-size: 15px
      letter-spacing: .5px
      line-height: 2.9
      margin-left: 5px


// this is the style carat in /palletes

.v-application
  .v-expansion-panel-title__icon
    color: var(--color1)
    margin-inline-start: 110px



// this is the QTY carat in /palletes
.v-application
  #slider .v-expansion-panel-title
    .v-expansion-panel-title__icon
      color: var(--color1)
      margin-inline-start: 125px



// moves the sliders starting position in QTY to the left
.v-slider__container
// moves the first dot in QTY to the right



 // moves the first dot in QTY to the left
.v-slider.v-input--horizontal .v-slider-track__tick--first
  margin-left: 2px !important


// hide the scroll that appears over the filters in /palettes 
.v-application
  .v-container
    padding: 12px
  #filter.v-col  // targeting the specific div with ID "filter" and class v-col
    &::-webkit-scrollbar
      display: none  // hide scrollbar in Chrome/Safari
    scrollbar-width: none  // hide scrollbar in Firefox
    -ms-overflow-style: none  // hide scrollbar in IE/Edge


.v-expansion-panel-title__overlay
  color: #ff0000


.v-expansion-panel-title
  color: #ff0000


.vue3-snackbar-message-content
  // snackbar width
  width: 100%!important

.v-main
  transition-duration: 0.4s!important

.iconBtn
  padding: 0 10px!important
  cursor: pointer!important
  height: 34px!important
  min-width: unset!important
  background-color: transparent!important
  border-radius: 100%!important
  border: unset!important

.v-btn
  text-align: center!important
  font-style: normal!important
  line-height: normal!important

.v-btn--size-default
  font-size: 14px!important
  font-weight: 500!important
  letter-spacing: 0.28px!important
  height: 32px!important
  text-transform: none!important

.v-btn--size-large
  font-size: 16px!important
  font-weight: 500!important
  letter-spacing: 0.32px!important
  height: 40px!important
  text-transform: none!important

.v-btn--size-small
  font-family: "IBM Plex Sans", serif!important
  font-size: 10px!important
  font-weight: 400!important
  letter-spacing: 0.5px!important
  text-transform: uppercase!important
  height: 25px!important

.bg-default
  background-color: var(--color1)!important
  color: var(--color7)!important

.bg-outlined
  border: var(--color2) 1px solid!important
  background-color: var(--color7)!important
  color: var(--color2)!important