\:root
  --color1: #4175DF
  --color2: #1D1E20
  --color3: #788092
  --color4: #A4A7B1
  --color5: #D9DBDF
  --color6: #F6F6F5
  --color7: #FFF
  --color8: #F6F8FE
  --color9: #E71D1D
  --color10: #ECF1FC

$lg: 1904px
$md: 1264px
$sm: 960px
$xs: 600px

@font-face
  font-family: 'ABCDiatypeRounded'
  src: url('/fonts/ABCDiatypeRounded-Bold-Trial.otf') format('opentype')
  font-weight: 700
  font-style: normal


@font-face
  font-family: 'ABCDiatypeRounded'
  src: url('/fonts/ABCDiatypeRounded-Light-Trial.otf') format('opentype')
  font-weight: 300
  font-style: normal


@font-face
  font-family: 'ABCDiatypeRounded'
  src: url('/fonts/ABCDiatypeRounded-Medium-Trial.otf') format('opentype')
  font-weight: 500
  font-style: normal


@font-face
  font-family: 'ABCDiatypeRounded'
  src: url('/fonts/ABCDiatypeRounded-Regular-Trial.otf') format('opentype')
  font-weight: 400
  font-style: normal


@font-face
  font-family: 'ABCDiatypeRounded'
  src: url('/fonts/ABCDiatypeRounded-Thin-Trial.otf') format('opentype')
  font-weight: 100
  font-style: normal


@font-face
  font-family: 'ABCDiatypeRounded'
  src: url('/fonts/ABCDiatypeRounded-Ultra-Trial.otf') format('opentype')
  font-weight: 800
  font-style: normal

html
  overflow: auto
  font-family: "ABCDiatypeRounded", sans-serif!important

.clickable
  cursor: pointer

.v-btn--disabled
  background-color: var(--color4) !important
  color: var(--color3)

.centered
  display: flex
  align-items: center
  justify-content: center
  flex-direction: column

.router-link-exact-active
    color: var(--color1)!important

a:visited
  color: var(--color1)

#actions
  .actionBtn
    border: 1px solid var(--color4)
    color: var(--color4)
    font-size: 13px
    letter-spacing: 0.26px

    &.v-btn--disabled
      color: var(--color5)
      background-color: var(--color7)!important

    :deep(.v-btn__overlay)
      opacity: 0!important

.v-label
  opacity: 1!important

.vue3-snackbar-message-content
  // snackbar width
  width: 100%!important

.v-main
  transition-duration: 0.4s!important
